{%- extends 'page.html' -%}
{%- if selected_user is not defined -%}
    {%- set selected_user = None -%}
{%- endif -%}
{%- set selected_repo = selected_repo_label[0] if selected_repo_label is not none else None -%}
{%- set selected_label = selected_repo_label[1] if selected_repo_label is not none else None -%}
{%- import 'macros.html' as macros -%}
{%- block title -%}
    {%- if selected_user is not none -%}
        {{- selected_user.printable -}}'{{- 's' if selected_user.printable[-1] != 's' else '' }} actions |
    {% endif -%}
    Tezos developer dashboard
{%- endblock -%}
{%- block nav -%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for title, href in nav[0] %}
                <li class="breadcrumb-item"><a href="{{ href }}">{{ title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ nav[1] }}</li>
        </ol>
    </nav>
{%- endblock -%}
{%- block content -%}
    {%- if actions_counts is defined -%}
        <div class="row mb-3">
            <div class="col">
                {%- if actions_counts -%}
                    {%- for user, count in actions_counts|dictsort(by='key')|sort(reverse=true, attribute=1) -%}
                        {{- macros.user_link(user, post=" ({})".format(count), class='me-3') -}}</li>
                    {%- endfor -%}
                {%- else -%}
                    <div class="alert alert-warning" role="alert">
                        No actions counts. Did something went wrong?
                    </div>
                {%- endif -%}
            </div>
        </div>
    {%- endif %}
    <div class="row">
        <div class="col">
            <h1>
                {%- if selected_user is none -%}
                    Everybody's
                {%- else -%}
                    {{- macros.avatar(selected_user, size=48) -}}{{- selected_user.printable_name -}}
                    {{- "'" -}}{{- 's' if selected_user.printable_name[-1] != 's' else '' -}}
                {%- endif -%}{{- ' ' -}}actions
                {% if selected_repo is not none -%}
                    on {{ selected_repo.printable_id }}
                {% endif %}
                {% if selected_label is not none -%}
                    {{ macros.label_link(selected_label, root, selected_label=None, selected_user=None) }}
                {% endif %}
                ({{ sorted_actions|length }})
            </h1>
            {% if sorted_actions -%}
                <table class="table">
                    <thead>
                        <th scope="col">Resource</th>
                        <th scope="col">Action</th>
                        <th scope="col">{% if selected_user is none %}Who and why{% else %}Why{% endif %}</th>
                    </thead>
                    <tbody>
                        {% for action_rowspan, why, whos in sorted_actions %}
                            <tr>
                                {% if action_rowspan is not none -%}
                                    {%- set rc_rowspan, action, a_rowspan = action_rowspan -%}
                                    {% if rc_rowspan is not none -%}
                                        {%- set rc, r_rowspan = rc_rowspan -%}
                                        <td rowspan="{{ r_rowspan }}" id="rc_{{ rc.id }}">
                                            {{- macros.rc_link(rc) -}}
                                            {%- if rc.labels -%}
                                                <br />{{ macros.label_list(rc.labels, root, selected_label, selected_user) }}
                                            {%- endif -%}
                                            {%- if rc.blocking -%}
                                                <br />{{ macros.dep_list(rc.blocking, 'Blocking', 'danger') }}
                                            {%- endif -%}
                                            {%- if rc.blockers -%}
                                                <br />{{ macros.dep_list(rc.blockers, 'Blocked by', 'secondary') }}
                                            {%- endif -%}
                                        </th>
                                    {%- endif %}
                                    <td rowspan="{{ a_rowspan }}">
                                        <a href="{{ action.web_url }}" title="{{ action.description }}">{{ action.printable }}</a>
                                    </td>
                                {% endif %}
                                <td>
                                    {%- if selected_user is none -%}
                                        {{- macros.user_list(whos) -}}
                                    {%- else -%}
                                        {{- whos[0].printable -}}
                                    {%- endif -%}
                                    {{- ' ' -}}{{- why -}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {%- else -%}
                <div class="alert alert-success" role="alert">
                    Nothing to do. Hooray!
                </div>
            {%- endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>Repositories</h1>
            <table class="table">
                <tbody>
                    {%- for repo in repositories|sort(attribute='printable_id') -%}
                        <tr>
                            <td>
                                <h3>
                                    {%- set href = '{}/{}/{}.html'.format(root, repo.filepath, ('index' if selected_user is none else selected_user.filename)) -%}
                                    {{- macros.avatared_link(repo, href=href, title=repo.name_with_namespace, contents=repo.printable_id) -}}
                                </h3>
                                {{ macros.descr_item('Dispatchers',
                                        macros.repo_people(repo, 'dispatchers')) }}
                                {{ macros.descr_item('Merge&#8209;teamers'|safe,
                                        macros.repo_people(repo, 'mergeteamers')) }}
                                {{ macros.descr_item('Issue&nbsp;watchers'|safe,
                                        macros.repo_people(repo, 'issuewatchers')) }}
                                {{ macros.descr_item('Labels',
                                        macros.label_list(repo.labels, root, selected_label, selected_user)) }}
                            </td>
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
{%- endblock -%}
