{%- macro avatar(ns, size=24) -%}
    {%- if ns.avatar_url is none -%}
        <span class="badge badge-bg-light text-dark rounded-pill">{{ ns.name[0] }}</span>
    {%- else -%}
        <img src="{{ ns.avatar_url }}" alt="{{ ns.avatar_alt }}" width="{{ size }}" height="{{ size }}" class="rounded me-2" loading="lazy" />
    {%- endif -%}
{%- endmacro -%}

{%- macro avatared_link(ns, contents, href='#', title='', class='') -%}
    <span class="d-inline-block">{{- avatar(ns) }}<a href="{{ href }}" class="{{ class }}" title="{{ title }}">{{ contents }}</a></span>
{%- endmacro -%}

{%- macro user_link(user, post='', class='') -%}
    {{ avatared_link(user,
        contents=user.printable + post,
        href="{}.html".format(user.filename),
        title=user.printable_name,
        class=class) }}
{%- endmacro -%}

{%- macro user_list(users) -%}
    {%- if users -%}
        {%- for user in users|sort(attribute='username') %}
            {{ user_link(user, class='me-2') }}
        {% endfor -%}
    {%- else -%}
        <em>No one</em>
    {%- endif -%}
{%- endmacro -%}

{%- macro rc_link(rc) -%}
    <a href="{{ rc.web_url }}" title="{{ rc.title }}">{{ rc.printable_id }}</a>
{%- endmacro -%}

{%- macro repo_people(repo, people_name) -%}
    {{- user_list(repo|attr(people_name)) }} 
    <span class="d-inline-block">({{ repo|attr(people_name + '_why') }})</span>
{%- endmacro -%}

{%- macro descr_item(title, contents) -%}
    <div class="ms-5">
        <b style="margin-left: -1rem !important">{{- title -}}</b>: &nbsp;
            {{- contents -}}
    </div>
{%- endmacro -%}

{%- macro label_link(label, root, selected_label, selected_user) -%}
    {%- set href = '{}/{}/{}/{}.html'.format(root, label.repo.filepath, label.filename, ('index' if selected_user is none else selected_user.filename)) -%}
    {%- set more_classes = 'rounded-pill' if label != selected_label else '' -%}
    <a class="btn badge {{ more_classes }} fw-normal"
        style="color: {{- label.text_color -}}; background-color: {{- label.color -}}"
        title="{{ label.description }}"
        href="{{ href }}">
        {{- label.name -}}
    </a>
{%- endmacro -%}

{%- macro label_list(labels, root, selected_label, selected_user) -%}
    {%- for label in labels|sort(attribute='name') -%}
        {{ label_link(label, root, selected_label, selected_user) }}
    {% endfor -%}
{%- endmacro -%}

{%- macro dep_list(deps, prefix, color) -%}
    <small class="text-{{ color }}">{{ prefix }}{{ ' ' -}}
        {%- for d in deps %}
            <a href="#rc_{{ d.id }}" class="link-{{ color }}" title="{{ d.title }}">
                {{- d.printable_id -}}
            </a>
        {% endfor -%}
    </small>
{%- endmacro -%}
