<!doctype html>
<html lang="en">
    {% block head %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- refresh every 30 minutes -->
        <meta http-equiv="refresh" content="1800" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
        <title>{% block title %}TITLE{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
    </head>
    {% endblock %}
    {% block body %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% block nav %}TODO{% endblock %}
                </div>
                <div class="col text-end">
                    Updated on <span id="updated_on" class="d-inline-block">{{ updated_on.printable }}</span><br />
                    <span class="text-secondary">refreshed every 30 minutes</span>
                    {# We may want to move this to an external file if it becomes big #}
                    <script type="text/javascript">
                        const t0 = new Date('{{ updated_on.js_parsable }}');
                        const t1 = new Date(t0.getTime() - t0.getTimezoneOffset() * 60000);
                        const updated_on = document.getElementById('updated_on');
                        updated_on.innerText = t1.toISOString().replace('T', ' ').slice(0, -5);
                        const ts = t0.toString();
                        const ip = ts.indexOf('(');
                        updated_on.title = 'Time shown in your timezone' + ts.substr(ip - 1, ip < 0 ? 0 : undefined);
                    </script>
                </div>
            </div>
            {% block content %}TODO{% endblock %}
        </div>
        {% block footer %}
        <footer class="footer text-center">
            <hr />
            <p>© 2021. <strong>Nomadic Labs</strong> All rights
                reserved.<br />
                Code snippets in the pages are released under The MIT License,
                unless otherwise specified.<br />
                <a href="https://gitlab.com/arvidnl/tezos-merge-team-scripts">Click here to report issues or request new features</a></br>
            </p>
        </footer>
        {% endblock %}
    </body>
    {% endblock %}
</html>
